.choose-insect ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.insect p {
  margin: 30px
}

.insect img {
  width: 120px;
  height: 120px;
  padding: 16px;
  margin: 0 18px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.insect img:hover {
  transform: scale(1.2);
  background-color: rgba(255, 255, 255, 0.5);
}

.insect.active img {
  transform: scale(1.2);
  background-color: rgba(255, 255, 255, 0.8);
}

.insect.active p {
  color: #61dafb;
}

.choose-insect h2, .choose-insect li, #start-btn {
  transition: transform 1s, opacity 1s;
}

.choose-insect h2.hidden {
  opacity: 0;
  transform: translateY(-700%);
}

#start-btn.hidden {
  opacity: 0;
  transform: translateY(5000%);
}

.choose-insect li:nth-child(-n+2).hidden {
  transform: translateX(-300%);
  opacity: 0;
}

/* For the right two list items */
.choose-insect li:nth-last-child(-n+2).hidden {
  transform: translateX(300%);
  opacity: 0;
}
