.choose-insect ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.insect img {
  width: 120px;
  height: 120px;
  padding: 16px;
  margin: 0 18px;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

}

.insect img:hover {
  transform: scale(1.2);
  background-color: rgba(255, 255, 255, 0.5);
}

.insect.active img {
  transform: scale(1.2);
  background-color: rgba(255, 255, 255, 0.8);
}