.status-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.status-bar-item {
  height: 120px;
  width: 100px;
  margin: 0px 20px;
  padding: 0px;
  background-color: #777;
  border-bottom: 1px solid #e5e5e5;
}

.status-bar-title {
  margin: 0px;
}
