.status-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
  transition: transform 1s;
  /*position: relative;*/
}

.status-bar-item {
  height: 98px;
  width: 100px;
  margin: 0px 20px;
  padding: 0px;
  background-color: #777;
  border-bottom: 1px solid #e5e5e5;
  transition: all 0.5s ease;
}

.game-on .status-bar-item {
  position: absolute;
  top: 0;
  transform: translate(0, 0);
}
.game-on .status-bar-item:first-child {
  left: 0;
}
.game-on .status-bar-item:last-child {
  right: 0;
}

.status-bar-title {
  margin: 8px 0px 0px;
}

.status-bar-value {
  margin: 6px;
}

h1.game-on {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
}

.status-bar .btn {
  display: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.status-bar.game-on .btn {
  display: block;
  position: absolute;
  top: 0px;
}
.status-bar.game-on #help-btn {
  left: 25%;
}
.status-bar.game-on #reset-btn {
  right: 25%;
}