.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.App-link {
  color: #61dafb;
}

.App-header {
  text-align: center;
}

#start-btn {
  padding: 6px;
  margin: 44px;
  border-radius: 2px;
  background-color: #61dafb;
  color: #282c34;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

#start-btn:hover {
  opacity: 0.77;
}

h1 { 
  margin-top: 0px;
  transition: all 1s ease-in-out;
}

h1.game-on {
  position: absolute;
  top: 0;
  transform: translate(0, 0);
}